* {
  margin: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  padding: 1px 0;
  color: #ffffff;
  font-style: italic;
}

.main__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #080300;
}

::after {
  box-sizing: border-box;
}

::before {
  box-sizing: border-box;
}

img {
  box-sizing: border-box;
  border-radius: 10%;
  max-width: 100%;
  min-width: 10px;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

section {
  display: block;
  padding-bottom: 5px;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #28232c;
}

.header__nav {
  display: inline-flexbox;
}
.header__nav li {
  display: list-item;
  padding: 2px;
}
.header__nav li a {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  font-style: italic;
}

.header__social-media {
  display: inline-flexbox;
  text-align: right;
  color: lavender;
}
.header__social-media li {
  display: inline;
  text-decoration-color: #28232c;
}

.main__Titulos {
  color: #28232c;
  font-size: 20%;
  font-style: normal;
}

footer {
  background-color: #7e0800;
  vertical-align: bottom;
  position: relative;
  margin-bottom: 0px;
}

.footer__pie {
  text-align: center;
  color: lavender;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-size: calc(1.5rem + 1.2vw);
  margin-top: 0.1rem;
  font-weight: 650;
  line-height: 1.1;
}

h2 {
  margin-top: 0.1rem;
  font-weight: 550;
  line-height: 1.1;
}

h3 {
  margin-top: 0.1rem;
  font-weight: 500;
  line-height: 1.1;
}

h4 {
  margin-top: 0.1rem;
  font-weight: 500;
  line-height: 1.1;
}

h5 {
  margin-top: 0.1rem;
  font-weight: 500;
  line-height: 1.1;
}

h6 {
  margin-top: 0.1rem;
  font-weight: 500;
  line-height: 1.1;
}

h6 {
  margin-top: 0.1rem;
  font-weight: 500;
  line-height: 1.1;
}

main {
  align-content: center;
  background: #d94800;
  background: linear-gradient(180deg, rgba(217, 72, 0, 0.8) 30%, rgba(255, 191, 122, 0.8) 45%, rgba(255, 254, 158, 0.7987570028) 65%, #ffbf7a 85%, #d94800 100%);
  min-height: 1500px;
  min-width: 30px;
}

.header__navbar-nav.navbar-center {
  position: relative;
  left: 45%;
  transform: translatex(-43%);
}

.body__col-12.col-lg-6.m-auto {
  display: inline-flexbox;
  text-align: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: content-box;
}

.main__Img-Proyectos {
  padding-top: 10px;
  vertical-align: bottom;
  display: inline-flex;
  text-align: center;
}

.main__rodante {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  border-radius: 0%;
}

.Titulos {
  display: inline-flex;
  box-sizing: border-box;
  margin-top: 8%;
  text-align: center;
}

.main__texto {
  display: inline-flexbox;
  box-sizing: border-box;
  margin-top: 0%;
}

.main__about-us {
  display: inline-flexbox;
  box-sizing: border-box;
  margin: 1%;
  margin-left: 2%;
  text-decoration-line: underline;
  text-decoration-color: rgba(70, 0, 0, 0.658);
}

p {
  box-sizing: border-box;
}

.--main {
  display: inline-flexbox;
  background-color: rgba(245, 245, 245, 0.096);
  padding: 1%;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 1%;
  font-weight: 500;
}

.main__titulo-servicios {
  box-sizing: border-box;
  padding: 1%;
}

.main__table {
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
}

table {
  display: inline-flexbox;
  background-color: rgba(218, 72, 62, 0.541);
  box-sizing: border-box;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

fieldset {
  text-align: center;
  display: inline-flexbox;
  background-color: rgba(248, 201, 100, 0.767);
  box-sizing: border-box;
  min-width: 20px;
  max-width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5%;
  position: relative;
  left: 50%;
  transform: translatex(-51.5%);
  margin: 2%;
}

.main__TipodeServicio {
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.main__formulario {
  display: inline-flexbox;
  text-align: center;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.main__DescripcionP {
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.main__Preguntas {
  display: list-item;
  box-sizing: border-box;
  text-align: justify;
  padding-left: 3%;
  padding-top: 2%;
  padding-right: 3%;
}

.main__OtrasPreguntas {
  box-sizing: border-box;
  display: inline-flexbox;
  padding-left: 3%;
  padding-top: 2%;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
