*{
    Margin: 0; 
    }
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a {
    color: #ffffff;
    font-style: italic;
  }
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #080300;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
img {
    box-sizing: border-box;
    border-radius: 10%;
    max-width: 100%;
    min-width: 10px;
}
img, svg {
    vertical-align: middle;
}
section {
    display: block;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}
header{
   background-color:rgb(40, 35, 44);
}

.social_media li{
    display:inline;
    padding-left:10px;
    padding-right:10px;
    text-decoration-color: rgb(40, 35, 44);
}
.social_media{
    display: inline-flexbox;
    text-align: right;
    color: lavender;
}
.Titulos{
    color:rgb(40, 35, 44);
    font-size: calc(20%);
    font-style: normal;
}

footer{   
    background-color:rgb(204, 75, 0);
    vertical-align: bottom;
    position: relative;
}
.pie{    
    text-align: center;
    color: lavender;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.h1, h1 {
    font-size: calc(1rem + 1.2vw);
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-weight: 500;
    line-height: 1.2;
}
main{
    align-content: center;
    background: rgb(217,72,0);
    background: linear-gradient(180deg, rgba(217,72,0,0.8) 30%, rgba(255,191,122,0.8) 45%, rgba(255,254,158,0.7987570028011204) 65%, rgba(255,191,122,1) 85%, rgba(217,72,0,1) 100%);
    min-height: 700px;
    min-width: 30px;
}
fieldset{
    text-align: center;
    display:inline-flexbox;
    background-color: rgb(248, 201, 100);
    box-sizing: border-box;
    min-width: 20px;
    max-width: fit-content;
    height: fit-content;
    padding:10px;
    border-radius: 5%;
    position: relative;
    left: 45%;
    transform: translatex(-45%);

}
.TipodeServicio {
    display:inline-block;
    text-align: center;
    padding: 5px;
}
.formulario{
    display: inline-flexbox;
    text-align:center;
}
main table{
    display: inline-flexbox;
    background-color: rgba(218, 72, 62, 0.541);
    box-sizing: border-box;
    align-content: center;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}
.Preguntas{
    display: list-item;
    text-align:justify;
    padding-left:10px;
}
.OtrasPreguntas{
    display: inline-flexbox;
    padding-left:10px;
}
section{
    padding-bottom: 5px;
}
.DescripcionP{
    box-sizing: content-box;
    min-width: 10px;
    min-height: 10px;
}

.col-12.col-lg-6.m-auto{
    display: inline-flexbox;
    text-align:center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: content-box;
}
.Img-Proyectos{
    padding-top: 10px;
    vertical-align: bottom;
    display: inline-flex;
    text-align:center;
}
.rodante{
    display:inline-flex;
    box-sizing: border-box;
    width:calc(100%);
    height: 350px;
    border-radius: 0%;
}
.navbar-nav.navbar-center {
    position: relative;
    left: 45%;
    transform: translatex(-40%);
}