* {
	margin: 0;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	box-sizing: border-box;
}
a {
	outline: none;
	text-decoration: none;
	padding: 1px 0;
	color: #ffffff;
	font-style: italic;
}
.main__contenedor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #080300;
}
::after {
	box-sizing: border-box;
}
::before {
	box-sizing: border-box;
}
img {
	box-sizing: border-box;
	border-radius: 10%;
	max-width: 100%;
	min-width: 10px;
	vertical-align: middle;
}
svg {
	vertical-align: middle;
}
section {
	display: block;
	padding-bottom: 5px;
}
body {
	margin: 0;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
}
header {
	background-color: rgb(40, 35, 44);
}
.header__nav{
	display: inline-flexbox;
	li{
		display: list-item;
		padding: 2px;
		a{
			outline: none;
			text-decoration: none;
			color: #ffffff;
			font-style: italic;
		}
	}
}
.header__social-media{	
		li {
		display: inline;
		text-decoration-color: rgb(40, 35, 44);
		}
	display: inline-flexbox;
	text-align: right;
	color: lavender;
}
.main__Titulos {
	color: rgb(40, 35, 44);
	font-size: calc(20%);
	font-style: normal;
}
footer {
	background-color: rgb(126, 8, 0);
	vertical-align: bottom;
	position: relative;
	margin-bottom: 0px;
}
.footer__pie {
	text-align: center;
	color: lavender;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h1 {
	font-size: calc(1.5rem + 1.2vw);
	margin-top: 0.1rem;
	font-weight: 650;
	line-height: 1.1;
}
h2 {
	margin-top: 0.1rem;
	font-weight: 550;
	line-height: 1.1;
}
h3 {
	margin-top: 0.1rem;
	font-weight: 500;
	line-height: 1.1;
}
h4 {
	margin-top: 0.1rem;
	font-weight: 500;
	line-height: 1.1;
}
h5 {
	margin-top: 0.1rem;
	font-weight: 500;
	line-height: 1.1;
}
h6 {
	margin-top: 0.1rem;
	font-weight: 500;
	line-height: 1.1;
}

h6 {
	margin-top: 0.1rem;
	font-weight: 500;
	line-height: 1.1;
}
main {
	align-content: center;
	background: rgb(217,72,0);
	background: linear-gradient(180deg, rgba(217,72,0,0.8) 30%, rgba(255,191,122,0.8) 45%, rgba(255,254,158,0.7987570028011204) 65%, rgba(255,191,122,1) 85%, rgba(217,72,0,1) 100%);
	min-height: 1500px;
	min-width: 30px;
}
.header__navbar-nav.navbar-center {
	position: relative;
	left: 45%;
	transform: translatex(-43%);
}
